body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	width: 100%;
	transition: transform 1s;
	@include font-size(1.6rem);

	&.slide-right {
		transform: translateX(30vw);
    overflow: hidden;
	}

	.wrapper {
		padding: 0 5vw;

		@include breakpoint(md) {
			padding: 0 60px;
		}
	}

	.wrapper-small {
		display: flex;
		align-items: space-between;
		padding: 20px 5vw;
		margin: 0 auto;
		max-width: 100vw;

		@include breakpoint(lg) {
			padding: 20px 60px;
		}
	
		@include breakpoint(sm) {
			position: static;
			height: auto;
		}

	}
	
	.page-wrapper {
		max-width: 100%;
	}

	section {
		position: relative;
		padding-top: 80px;	
	}

	.site {
		position: relative;
		
		@include breakpoint(sm) {
			flex-direction: column;
		}
	}
	
	.hidden {
		visibility: hidden;
	}
}
