// Studio Template

.twocol {
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;

		@include breakpoint(sm) {
			grid-template-columns: 1fr;
		}

		.row-1 {
			grid-row-start: 1;
		}

		.row-2 {
			grid-row-start: 2;
		}

	
		.item-1 {
			grid-column: 1 / 5;
			height: 100%;

			@include breakpoint(sm) {
				grid-row-start: 1;
			}
		}


		.item-2 {
			grid-column: 5 / full;

			@include breakpoint(sm) {
				grid-column-start: 1;
			}

		}

		.item-3 {
			grid-column: 1 / 6;
		}

	}

		.hover-area {
			min-height: 75vh;
			position: relative;

			@include breakpoint(sm) {
				min-height: 60vh;
			}

			&:hover
			.hover-content {
				opacity: 100%;
			}

			&:active
			.hover-content {
				opacity: 100%;
			}
		}

		.team-image {
			position: relative;
			min-height: 75vh;
			padding: 0;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
		
			@include breakpoint(sm) {
				min-height: 60vh;
			}

		}

		.hover-content {	
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 10px 20px;
				background-color: $color__background-body;
				text-align: center;
				opacity: 0;
				transition: all .5s ease;
				color: $color__text-main;
		}



		.contact-info {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 2rem 0;
			gap: 2rem;

			a {
				text-decoration: none;
				@include font-size(1.8rem);

				&:hover {
					text-decoration: underline;
				}
			}

			.location {
				p {
					margin-bottom: 0;
				}
			}
		}

		.text-block {
			a {
				color: $color__text-main-inverse;

				&:hover, &:visited {
					color: $color__link-hover;
				}
			}
		}


// Even columns on contact page
	&.contact {
		.grid {
			grid-template-columns: 1fr 1fr;

			@include breakpoint(sm) {
				grid-template-columns: 1fr;
			}
		}	
	}

	.content {
		text-align: left;
		padding: 0;
		margin-top: 2rem;

		p {
			text-align: left;
		}
	}
	
	.accent {
			display: flex;
			align-items: center;
			width: 18%;
			font-size: 1.8rem;
			gap: .75rem;

			@include breakpoint(sm) {
				width: 100%;
			}

			&.py {
				padding: 20px 0 0 0;
			}

		}

		.team-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 2rem;
			grid-gap: 2rem;

			@include breakpoint(sm) {
				grid-template-columns: repeat(1, 1fr);
			}

			h3 {
				margin-bottom: .5rem;
			}

			p { 
				font-family: $font__sans;
				@include font-size(1.6rem);
			}
		}
	}

	// Press styles

	section {
		&.Press {

			.entry-content {
				color: $color__text-main;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				h2 {
					font-weight: bold;
					margin-bottom: .5rem;
					color: $color__text-accent;
				}

				p {
				font-family: $font__sans;
			}

			.press-link {
				color: $color__text-main;
				margin-bottom: 1.5rem;
			}

			.bottom-margin {
				margin-bottom: 3rem;
			}
		}
	}
}