//Studio Template

.twocol {
	.grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		grid-gap: 4rem;

		@include breakpoint(sm) {
			grid-template-columns: 1fr;
		}
	
		.col-1 {
			grid-column-start: 1;

			@include breakpoint(sm) {
				grid-row-start: 1;
			}
		}

		.team-image {
		position: relative;
    min-height: 75vh;
    padding: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
		
		@include breakpoint(sm) {
			min-height: 60vh;
		}
		}

		.contact-info {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 2rem 0;
			gap: 2rem;

			a {
				text-decoration: none;
				@include font-size(1.8rem);

				&:hover {
					text-decoration: underline;
				}
			}

			.location {
				p {
					margin-bottom: 0;
				}
			}
		}


		.col-2 {
			grid-column-start: 2;

			@include breakpoint(sm) {
				grid-column-start: 1;
			}

		}
		.row-2 {
			grid-row-start: 2;
		}
	}

// Even columns on contact page
	&.contact {
		.grid {
			grid-template-columns: 1fr 1fr;

			@include breakpoint(sm) {
				grid-template-columns: 1fr;
			}
		}	
	}

	.content {
		text-align: left;
		padding: 0;
		margin-top: 2rem;

		p {
			text-align: left;
		}
	}
	
	.accent {
			display: flex;
			align-items: center;
			width: 18%;
			font-size: 1.8rem;
			gap: .75rem;

			@include breakpoint(sm) {
				width: 100%;
			}

			&.py {
				padding: 20px 0 0 0;
			}

		}

		.team-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 2rem;
			grid-gap: 2rem;

			@include breakpoint(sm) {
				grid-template-columns: repeat(1, 1fr);
			}

			h3 {
				margin-bottom: .5rem;
			}

			p { 
				font-family: $font__sans;
				@include font-size(1.6rem);
			}
		}
	}

	// Press styles

	section {
		&.Press {

			.entry-content {
				color: $color__text-main;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				gap: 2rem;

				h2 {
					font-weight: bold;
					margin-bottom: .5rem;
					color: $color__text-accent;
				}

				p {
				font-family: $font__sans;
			}

			.press-link {
				color: $color__text-main;
				margin-bottom: 1.5rem;
			}

			.bottom-margin {
				margin-bottom: 3rem;
			}
		}
	}
}