
//Project Masonry

.project-info {
  display: flex;
  flex-direction: column;
}

.grid-item {
  Width: math(100/3)vw;
  Border:1px solid #DDD
  }
  .size-2 { width: 180px; }
  .size-3 { width:220px; }
  .size-4 { width: 90px; }


.project-image {
  position: relative;
  height: 500px;
  min-height: 400px;
  padding: 0;
  background-position: center center;
  background-size: full;
  background-repeat: no-repeat;
}

.project-grid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-rows: 400px;
	grid-gap: 20px;
}