//Project Masonry

.project-info {
  display: flex;
  flex-direction: column;
}

.grid-item {
  Float:left;
  Width:140px;
  Border:1px solid #DDD
  }
  .size-2 { width: 180px; }
  .size-3 { width:220px; }
  .size-4 { width: 90px; }

