//=============================================================================================================
// Brand Fonts
//=============================================================================================================


@font-face {
	font-family: 'Bodoni';
	src: url('/fonts/bodoni72.svg') format('svg');
  src: url('/fonts/bodoni72.eot');
	src: url('/fonts/bodoni72.woff2') format('woff2'),
		url('/fonts/bodoni72.woff') format('woff'),
    url('/fonts/bodoni72.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}