button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {

		@include font-size(1.4rem);
		padding: 1rem 2rem;
		border: $color__text-black solid .5px;
    background-color: transparent;
    color: $color__text-black;
		margin: 0;
		text-transform: uppercase;
		font-family: $font__main;
		letter-spacing: .1rem;
		cursor: pointer;
	
		// &:hover {
		// 	color: #F7F4EB;
		// 	font-weight: bold;
		// }

		// &:active,
		// &:focus {
		// 	color: #F7F4EB;
		// 	font-weight: bold;
		// }
	
	}