.site-footer {
	position: relative;
  @include font-size(1.4rem);
  background-color: $color__background-footer;

  @include breakpoint(sm) {
    display: flex;
		flex-direction: column;
    justify-content: center;
  }

	.footer-content {
			width: 100%;
			padding-top: 8rem;

			@include breakpoint(sm) {
				padding-top: 4rem;
			}

		.footer-top {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: flex-start;
			align-items: center;
			width: 100%;
			height: auto;
			row-gap: 4;

			@include breakpoint(sm) {
				display: flex;
				flex-direction: column;
			}
		}	

		.footer-bottom {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.footer-menu {
				grid-column: 1;
				display: flex;
				align-items: center;
			}

			@include breakpoint(sm) {
				display: flex;
				flex-direction: column;
    		justify-content: center;
    		align-items: center;
    		gap: 2rem;
    		margin-top: 2rem;
				text-align: center;
			}
		}

		.footer-bar {
			background-color: $color__background-footer-dark;
			display: flex;
			padding: 20px 5vw;
			max-width: 100vw;

			@include breakpoint(sm) {
				justify-content: center;
			}
		}
	} /* Footer Content */

  .site-info {
		p {
			margin-bottom: 0;
		}
  }

  .nav-menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding-left: 0;
		gap: 1rem;

			a {
				display: block;
				color: $color__text-main;
				text-decoration: none;
				font-size: 1.6rem;

			}

		&.footer-bottom {
			a {
				letter-spacing: .5px;
				font-size: 1.4rem;
			}
		}

	}

	.form {
		grid-column: 3;
		justify-self: flex-end;
		display: flex;
		flex-direction: column;
    align-items: flex-start;
    width: 60%;

		@include breakpoint(lg) {
			justify-self: flex-start;
		}

		@include breakpoint(sm) {
			align-items: center;
			margin-top: 2rem;
			width: 100%;
		}
	}

	.footer-col {
		display: flex;
		width: 100%;
		align-items: center;

		&.site-logo {
			grid-column: 2;
			justify-content: center;

			.custom-logo-link {
				width: 80px;
			}
		}

		&.tagline {
			justify-content: center;
			text-align: center;
			@include breakpoint(sm) {
				margin-top: 2rem;
			}
		}
	}

}