.site-footer {
	position: relative;
  @include font-size(1.2rem);
  background-color: $color__background-footer;

  @include breakpoint(sm) {
    display: flex;
		flex-direction: column;
    justify-content: center;
  }

	.footer-content {
			width: 100%;

		.footer-top {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: flex-start;
			align-items: center;
			width: 100%;
			height: auto;

			@include breakpoint(sm) {
				justify-items: center;
			}
		}	

		.footer-bottom {
			display: flex;

			.footer-menu {
				flex-grow: 1;
			}
		}
	}

  .site-info {
    display: none;
  }

  .nav-menu {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			padding: 10px;

			a {
				display: block;
				color: $color__text-main;
				text-decoration: none;
				}
			}

	}

	.form {
		display: flex;
		flex-direction: column;
    align-items: flex-start;
    width: auto;
	}

	.footer-col {
		display: flex;
		width: 100%;
		align-items: center;

		&.site-logo {
			justify-content: center;
		}

		&.tagline {
			justify-content: flex-end;
		}
	}

}