.site-footer {
	position: relative;
  @include font-size(1.4rem);
  background-color: $color__background-footer;

  @include breakpoint(sm) {
    display: flex;
		flex-direction: column;
    justify-content: center;
  }

	.footer-content {
			width: 100%;

		.footer-top {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: flex-start;
			align-items: center;
			width: 100%;
			height: auto;
			row-gap: 4;

			@include breakpoint(sm) {
				display: flex;
				flex-direction: column;
			}
		}	

		.footer-bottom {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.footer-menu {
				grid-column: 1;
			}
			@include breakpoint(sm) {
				display: flex;
				flex-direction: column;
				text-align: center;
				align-items: center;
			}
		}
	}

  .site-info {
    display: none;
  }

  .nav-menu {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			padding: 10px;

			a {
				display: block;
				color: $color__text-main;
				text-decoration: none;
				}
			}

	}

	.form {
		grid-column: 3;
		justify-self: flex-end;
		display: flex;
		flex-direction: column;
    align-items: flex-start;
    width: auto;

		@include breakpoint(sm) {
			align-items: center;
			margin-top: 2rem;
		}
	}

	.footer-col {
		display: flex;
		width: 100%;
		align-items: center;

		&.site-logo {
			grid-column: 2;
			justify-content: center;
		}

		&.tagline {
			justify-content: flex-end;
			@include breakpoint(sm) {
				justify-content: center;
				text-align: center;
				margin-top: 2rem;
			}
		}
	}

}