// Mailchimp form

#mc_embed_signup_scroll
 {
  display: flex;
  align-items: center;

  .mc-field-group {
    margin-right: 1rem;
  }

  input[type=email] {
    padding: 1rem;
    background-color: transparent;
    border: $color__text-black solid .5px;
  }
 }

 // Ninja forms

 .nf-after-field {
  .nf-error-msg {
    @include font-size(1.6rem);
   }
 }

 .nf-error-field-errors {
  @include font-size(1.6rem);
 }


