.flex {
  display: flex;
}

.text-block {
  background-color: $color__background-footer;
  width: 100%;
  padding: 30px 48px;
  color: $color__text-main-inverse;
}

.text-light {
  color: $color__text-main-inverse;
}

.text-dark {
  color: $color__text-main;
}


 div {
  &.line-small {
    width: 30px;
    background-color: $color__text-main-inverse;
    height: .2px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.logo {
  align-self: center;
  text-transform: uppercase;
  color: $color__nav;
  text-decoration: none;
  @include font-size(3.6rem);
  letter-spacing: .5rem;

  &:hover {
    opacity: .6;
  }

  &.lg {
    @include font-size(6.4rem);

    &:hover {
      opacity: 1;
    }

    @include breakpoint(md) {
      font-size: 40px;
      white-space: nowrap;
    }
  
  }

}

.section-image-cover {

&.cta {
  height: 60vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .link {
    @include font-size(2rem);
  }

  .overlay {
    background: linear-gradient(105.43deg, rgba(217, 217, 217, 0.1) -59.11%, rgba(0, 0, 0, 0.6) 60.81%);
  }

  .hero-content {
    width: 100%;

    @include breakpoint(md) {
      top: 50%;
      padding: 0 20px;
    }
  }
}
}