.header {
	position: fixed;
  top: 10px;
	width: 100%;
	z-index: 9999;
	background-color: $color__background-body;

	@include breakpoint(sm){
		flex-direction: column;
		position: static;
		width: 100%;
	}

  .wrapper-small {
      display: grid;
      grid-template-columns: 33vw 33vw 33vw;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    
      @include breakpoint(sm) {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }
  }

	.header-left {
		display: flex;
    padding-left: 5vw;
    justify-self: flex-start;

    @include breakpoint(xs) {
      padding: 0;
    }
	}

  .logo {
    justify-self: center;
  }

		.header-right {
			display: flex;
      padding-right: 5vw;
      justify-self: flex-end;

      @include breakpoint(xs) {
        padding: 0;
      }
		}

	.site-tools {
		display: none; 

		@include breakpoint(sm) {
			display: block;
		}
	}
	.header-menu {
		display: flex;
    align-items: center;
 
		@include breakpoint(sm) {
			display: none;
		}
		}
		.nav-menu {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding-left: 0;
    gap: 60px;


		.menu-item {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      padding: 10px 0;
      color: $color__nav;

			a {
				display: block;
				color: $color__nav;
				text-decoration: none;
        letter-spacing: 4px;

			}

      &.current-menu-item {
        a {
          font-weight: bold;
        }
      }

      /* Sub menu */

      &.menu-item-has-children {
        position: relative;
        padding-left: 0;

          // &::after {
          //   content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' fill='none'%3E%3Cpath fill='%23830715' d='m9.906 1.413-4.66 4.66a.35.35 0 0 1-.493 0l-4.66-4.66A.35.35 0 0 1 .589.92L5 5.331 9.412.919a.35.35 0 0 1 .494.494Z'/%3E%3C/svg%3E");
          //   position: absolute;
          //   top: 8px;
          //   right: -20px;
          // }

        .sub-menu {
          display: none;
          flex-direction: column;
          padding: 30px 20px;
          background-color: $color__background-body;
          color: $color__nav;
          position: absolute;
          top: 30px;
          left: 0;
          margin-left: 0;
          gap: 10px;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);

          li {
            padding: 0;
          }
        }

        &:hover, &:active {
          .sub-menu {
            display: flex;
          }
        }
      }
		}
    

	}


/* Mobile menu. */

.mobile-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
	background-color: $color__background-body;
	opacity: .8;
	z-index: 9999;

  ul {
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
    text-align: center;
  }

  /* Dropdown */
  .sub-menu {
    opacity: 0;
    height: 0;
    transition: all .3s linear;

    &.active {
      // display: block;
      opacity: 1;
      height: 100%;
    }

  }

  li {
    display: block;
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw);

    &.menu-item-has-children { 

      .sub-menu {
        background-color: $color__background-footer;

        a {
          color: $color__text-main-inverse;
        }
      }

      .dropdown-arrow {
        &.rotate {
          transform: rotate(180deg);
        }
      }
    
    }
    
    // &:last-child {
    //   margin-bottom: 2em;
    // }

    }
    a {
      text-decoration: none;
      color: $color__text-main;
      text-align: center;
      padding: 25px;
      @include font-size(2.4rem);
      &:hover {
        cursor: pointer;
      }
    }
  }
}


	//=============================================================================================================
// Contact Info
//=============================================================================================================
.social-icons {
	display: flex;
	
	.social-icon {
	padding: 5px;
	}
}
//=============================================================================================================
// Logo
//=============================================================================================================

	.site-logo {
		&.desktop {
			@include breakpoint(sm) {
				display: none;
			}
		}
  
	  .logo {
		display: block;
		width: 80px;

		@include breakpoint(sm) {
			width: 60px;
		}
	  }
  }

// Hamburger style/animation adopted from Ãlvaro on Codepen

input.hamburger {
  display: none;
  &:checked {
    & ~ .mobile-nav {
       transform: translatex(0);
        border-bottom-left-radius: 0;
        li {
          transform: translatex(0);
          @include transition;
          a {
            padding-right: 15px;
          }
        }
    }
    & ~ label {
      > i {
        background-color: transparent;
        color: $color__nav;
        transform: rotate(90deg);
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
      close {
        color: $color__nav;
        width: 100%;
      }
      open {
        color: rgba(0, 0, 0, 0);
        width: 0;
      }
    }
  }
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 4rem;
  width: 4rem;
  color: $color__nav;
  &:hover {
    cursor: pointer;
  }
  text {
    close,
    open {
      text-transform: uppercase;
      font-size: .8em;
      text-align: center;
      position: absolute;
      transform: translateY(50px);
      text-align: center;
      overflow: hidden;
      transition: width .25s .35s, color .45s .35s;
    }
    close {
      color: rgba(0, 0, 0, 0);
      right: 0;
      width: 0;
    }
    open {
      color: $color__nav;
      width: 100%;
    }
  }
  > i {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: $color__nav;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      left: 50%;
      background-color: $color__nav;
      content: "";
      transition: transform 0.35s;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: translate(-50%, -14px);
    }
    &:after {
      transform: translate(-50%, 14px);
    }
  }
}